[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
python-dotenv = "*"
flask-security-too = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
dev = "flask --app app:create_app() run --host=0.0.0.0 --port=3000 --debug"
