<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOCBOOK | find best doctors nearby</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  />
  <link rel="stylesheet" href="/css/doctorReg.css">
</head>
<body>
    <div class="container">
        <div class="head">
            <h4>DOCBOOK</h4>
            <p>ABOUT US</p>
        </div>
        <div class="main">
            
        </div>
        <div class="footer">
            Copyright © 2023 ARCICK GROUP. All rights reserved.
        </div>
    </div>
    <img src="/images/rod asclepius.png" alt="">

    <script src="/JS/doctorReg.js"></script>
</body>
</html>