<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOCBOOK | find best doctors nearby</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  />
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container">
        <div class="head">
            <h4>DOCBOOK</h4>
            <p>ABOUT US</p>
        </div>
        <div class="main">
            <h3 class="sm">Welcome to,</h3>
            <h3>D O C B O O K</h3>
        
            <div class="description">
                <p> - Your Trusted Guide to Expert Healthcare</p>
            </div>
            <button class="signUpBtn" id="patientSignIn">Find Doctors Quickly</button>
            <button class="signUpBtn" id="doctorSignIn">Signin as Doctor</button>
        </div>        
        <div class="footer">
            Copyright © 2023 ARCICK GROUP. All rights reserved.
        </div>
    </div>
    <img src="/images/28816680_7477906-removebg-preview.png" alt="">

    <script src="/JS/index.js"></script>
</body>
</html>